html,
body {
    height: 409px;
    width: 410px;
    margin: 0;
}
h1{
    width: 299px;
    height: 31px;
    margin-top: 36px;
    margin-left: 49px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    text-align: center;
}
input{
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    height: 40px;
    width: 380px;
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
}
#email{
    margin-top: 60px;
}
#motivo{
    margin-top: 20px;
}
#link{
    margin-top: 20px;
}
button{
    padding: 10px 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #FF6961;
    border: 1px solid #FF6961;
    margin-left: 80px;
    margin-top: 50px;
    color: #FFFFFF;
}
